<section class="flex flex-col h-full">
  <header class="p-3 border-b border-gray-300 flex items-center gap-2">
    <span class="flex-1">{{ header() }}</span>
    <button
      type="button"
      class="px-3 py-1 border border-gray-300 cursor-pointer"
      (click)="toggleInvite()"
    >
      Invite
    </button>
  </header>

  @if (showInvite()) {
    <div class="p-2 border-b border-gray-300 max-h-48 overflow-auto">
      <ul class="list-none m-0 p-0">
        @for (user of contactsStore.contacts(); track user.id) {
          <li class="py-1">
            <button
              type="button"
              class="w-full text-left px-3 py-2 border border-gray-200 bg-white cursor-pointer"
              (click)="invite(user.id)"
            >
              {{ user.name }}
            </button>
          </li>
        }
      </ul>
    </div>
  }

  <app-message-list />
  <app-message-input [chatId]="contactId()" />
</section>